version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: packastock_db
      POSTGRES_USER: packastock_user
      POSTGRES_PASSWORD: packastock123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: pack_a_stock_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_NAME: packastock_db
      DB_USER: packastock_user
      DB_PASSWORD: packastock123
      DB_HOST: db
      DB_PORT: 5432

volumes:
  postgres_data:
